<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sending LINEbot Message</title>
    </head>
    <body>
        <form>
            <label for="message_to">メッセージ送信宛先LINE ID：</label>
            <input type="text" id="message_to" name="message_to" />
            <p>送信メッセージ：</p>
            <textarea id="message" name="message" rows="4" cols="40"></textarea><br>
            <button type="button">メッセージ送信</button>
            <button type="button">クリア</button>
        </form>
    </body>
</html>